body{
   background-color: rgb(43,43,43);
}

#container{
   display: flex;
}

.cartao{
   margin: 1rem 1rem;
   background-color: maroon;
   height: 20rem;
   flex: grow 1;
   flex-basis: calc(33%-6rem);
}